@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Scrollbar */
::-webkit-scrollbar{
    width: .1px;
}

*{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 1px;
}
body{
    background-color: #2C2E5A;
}
header{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
footer{
    background: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
    border-radius: 10px;
}

.ads{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.first{
    width: 30%;
    height: 350px;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
    border-radius: 10px;
    background-size: 25px;
    background-color: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
.first p{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    text-align: justify;
}
.first button{
    margin-top: 5%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
.first button:hover{
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9)
}

.image img{
    width: 500px;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%, 100%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(80px);
    }
}

.nav, .profile{
    margin: 0;
    padding: 0;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
.nav ul li{
    text-align: center;
    padding: 15px 15px;
    border-bottom: 3px solid transparent;
    margin-right: 10px;
}
.nav ul li:hover{
    border-bottom: 3px solid #fff;
}
.nav a{
    text-decoration: none;
    font-weight: bold;
}
.nav button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}
.nav .active{
    border-bottom: 3px solid #fff;
}
.nav .active a{
    color: #fff;
}


.profile ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.profile li{
    margin-left: 10%;
}
.profile a{
    text-decoration: none;
}
.log button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: .5s;
    margin-top: 10%;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
.log button:hover{
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
    transition: .5s;
}


.content h1{
    text-align: center;
    margin-bottom: 1%;
    font-weight: bold;
    color: #fff;
}
.content .title{
    margin-bottom: 5%;
}
#search{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.search{
    width: 10%;
    height: 25px;
    transition: .5s;
    border-radius: 7px;
    background-size: 25px;
    background-color: #2C2E5A;
    border: none;
    background-size: 25px;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("https://img.icons8.com/ios-filled/50/ffffff/search.png");
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9)
}
.search:focus{
    width: 15%;
    transition: .5s;
}
.search::placeholder{
    color: #fff;
}


/* Market.php */
.courses{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.empty{
    margin-bottom: 8%;
}
.my_course, .course{
    border-radius: 20px;
    width: 390px;
    height: 260px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
.course form{
    margin-left: 5%;
}
.my_course h4, .my_course h2,.course h4, .course h2{
    margin-left: 5%;
    font-weight: bold;
}
.sub, .unsub{
    width: 38%;
    padding: 10px;
    transition: .2s;
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    background: #2C2E5A;
    border: none;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
    border-radius: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90% 50%
}
.sub{
    background-image: url("https://img.icons8.com/fluent/48/000000/add.png");
}
.sub:hover{
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
}
.unsub{
    width: 40%;
    background-image: url("https://img.icons8.com/fluent/48/000000/minus.png");
}
.unsub:hover{
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
}

/* MyC.php */
.my_courses{
    display: flex;
    flex-direction: column;
}

.my_course{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    width: 80%;
    padding-left: 2%;
    padding-right: 5%;
}

.my_course .text{
    width: 70%;
}

.my_course .unsub{
    width: 15%;
    height: 20%;
}


/* Admin & Moderator */
.add_new, .edit{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.add_new input, .edit input{
    width: 90%;
    font-size: 17px;
    margin-top: 4%;
    background: #2C2E5A;
    border: none;
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
    border-radius: 5px;
    background-size: 30px;
}
.add_new input::placeholder{
    color: #fff;
    letter-spacing: normal;
}
.add_new button, .rem, .b_edit{
    width: 40%;
    padding: 10px;
    border: none;
    transition: .2s;
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    background: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
    border-radius: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url("https://img.icons8.com/fluent/48/000000/add.png");
}
.edit .b_edit{
    width: 40%;
    padding: 10px;
    margin-top: 3%;
    transition: .2s;
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    background: #2C2E5A;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
    border-radius: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url("https://img.icons8.com/pastel-glyph/64/ffffff/edit--v1.png");
}
.add_new button:hover{
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
}
.edit input{
    background-color: #2C2E5A;
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
    margin-top: 5%;
    border: none;
}
.rem{
    background-image: url("https://img.icons8.com/material-rounded/24/ffffff/delete-forever.png");
}
.rem:hover, .b_edit:hover{
    box-shadow: 1px 1px 2px rgba(70, 74, 146, 0.3), -1px -1px 2px rgba(18, 18, 36, 0.5), inset -10px 10px 20px rgba(18, 18, 36, 0.2), inset 10px -10px 20px rgba(18, 18, 36, 0.2), inset -10px -10px 20px rgba(70, 74, 146, 0.9), inset 10px 10px 25px rgba(18, 18, 36, 0.9);
}

.error {
    color: #ff002b;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    float: right;
    width: 220px;
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.top h3{
    margin-bottom: 2%;
}
.top p{
    font-size: 13px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.bottom img{
    width: 30px;
    padding-top: 20px;
    margin-right: 20px;
}


/* Users.php */
.table{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4.4%;
}
.table h1{
    text-align: center;
    font-weight: bold;
}
.table .t{
    height: 350px;
    display: flex;
    justify-content: center;
    padding: 5%;
    align-items: center;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
table{
    width: 80%;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(18, 18, 36, 0.2), 5px -5px 10px rgba(18, 18, 36, 0.2), -5px -5px 10px rgba(70, 74, 144, 0.9), 5px 5px 13px rgba(18, 18, 36, 0.9), inset 1px 1px 2px rgba(70, 74, 144, 0.3), inset -1px -1px 2px rgba(18, 18, 36, 0.5);
}
table, th, td {
    border: 3px solid #fff;
    text-align: center;
    border-collapse: collapse;
}
th{
    color: #000;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}
.trash{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.trash img{
    width: 40px;
}
